@model MvcTest.Models.Gen_Mst_Screen

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<div>
    <h4>Delete Screen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScreenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScreenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScreenOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScreenOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gen_Mst_Module.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gen_Mst_Module.ModuleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"
                   onclick="return Confirm('Are you sure you want to delete record');" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
