@model MvcTest.Models.Gen_Mst_Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendConfirm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendConfirm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedazVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedazVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sqlversion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sqlversion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gen_Mst_Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gen_Mst_Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rights_MST_UserMaster.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rights_MST_UserMaster.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rights_MST_UserMaster1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rights_MST_UserMaster1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
