@using PagedList;
@using PagedList.Mvc;
@model IPagedList<MvcTest.Models.Gen_Mst_DevTraining>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="font-family:Arial">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New record", "Create")
    </p>
    <p>
        @using (Html.BeginForm())
        {
            <label for="SearchString">TopicName:</label>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <button type="submit" name="TopicName" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("TopicName", "Index", new { sortBy = ViewBag.SortTopicNameParameter, currentFilter = ViewBag.CurrentFilter, SearchString = Request.QueryString["SearchString"] })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TopicOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().File1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().File2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().File3)
            </th>
            <th>
                @Html.ActionLink("CreatedDate", "Index", new { sortBy = ViewBag.SortTopicNameParameter, currentFilter = ViewBag.CurrentFilter, SearchString = Request.QueryString["SearchString"] })
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Gen_Mst_DocumentType.DocDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Gen_Mst_Technology.TechDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Rights_MST_UserMaster.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Rights_MST_UserMaster1.Name)
            </th>*@
            <th>Action</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr class="text-danger">
                <td colspan="12"><strong>No Rows </strong></td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr class="text-success">
                    <td>
                        @Html.DisplayFor(modelItem => item.TopicName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TopicOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Gen_Mst_DocumentType.DocDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gen_Mst_Technology.TechDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rights_MST_UserMaster.Name)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Rights_MST_UserMaster1.Name)
                    </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TopicId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TopicId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TopicId })
                        @*<center>
                            <a href="@Url.Action("Details","Training",new {id = item.TopicId })">
                                <img src="@Url.Content("~/Images/info.png")" alt="Details" />Details
                            </a> <br />
                            <a href="@Url.Action("Edit","Training",new {id = item.TopicId })">
                                <img src="@Url.Content("~/Images/pen.png")" alt="Edit" />Edit
                            </a> <br />
                            <a href="@Url.Action("Delete","Training",new {id = item.TopicId })">
                                <img src="@Url.Content("~/Images/bin.png")" alt="Delete" />Delete
                            </a>
                        </center>*@
                    </td>
                </tr>
            }
        }

    </table>
</div>
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, SearchString = Request.QueryString["SearchString"], sortBy = Request["sortBy"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })