@using PagedList;
@using PagedList.Mvc;
@model IPagedList<MvcTest.Models.Gen_Mst_TabPage>

@{
    ViewBag.Title = "TabPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TabPage</h2>
<div style="font-family:Arial">
    <p>
        @Html.ActionLink("Create New Record", "Create")
    </p>
    <p>
        @using (@Html.BeginForm())
        {
            <label for="SearchString">TabPageName</label>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <button type="submit" name="TabPage" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ModuleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ScreenCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TabPagecode)
            </th>
            <th>
                @Html.ActionLink("TabPageName", "Index", new { sortBy = ViewBag.sortByTabPageNameparameter, currentFilter = ViewBag.CurrentFilter, SearchString = Request.QueryString["SearchString"] })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TabPageOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedBy)
            </th>
            <th>
                @Html.ActionLink("CreatedDate", "Index", new { sortBy = ViewBag.sortByCreatedDateParameter, currentFilter = ViewBag.currentFilter, SearchString = Request.QueryString["SearchString"] })
            </th>


            <th>Action</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr class="text-danger">
                <td colspan="7"><b>No Rows Match Search Criteria</b></td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr class="text-success">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModuleCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScreenCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TabPagecode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TabPageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TabPageOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RowNum }) |
                            @Html.ActionLink("Details", "Details", new { id = item.RowNum }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.RowNum })
                        @*<center>
                            <a href="@Url.Action("Details","TabPage",new {id = item.RowNum })">
                                <img src="@Url.Content("~/Images/info.png")" alt="Details" />
                            </a> <br />
                            <a href="@Url.Action("Edit","TabPage",new {id = item.RowNum })">
                                <img src="@Url.Content("~/Images/pen.png")" alt="Edit" />
                            </a> <br />
                            <a href="@Url.Action("Delete","TabPage",new {id = item.RowNum })">
                                <img src="@Url.Content("~/Images/bin.png")" alt="Delete" />
                            </a>
                        </center>*@
                    </td>
                </tr>
            }
        }

    </table>
</div>
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, SearchString = Request.QueryString["SearchString"], currentFilter = Request.QueryString["currentFilter"], sortBy = Request["sortBy"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })