@using PagedList;
@using PagedList.Mvc;
@model IPagedList<MvcTest.Models.Gen_Mst_GeneralTestCases>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="font-family:Arial">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New Record", "Create")
    </p>
    <p>
        @using (@Html.BeginForm())
        {
            <label for="SearchString">StandardName:</label>
            @Html.TextBox("SearchingString", ViewBag.CurrentFilter as string)
            <button type="submit" name="StandardName" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        }
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TestCaseCode)
            </th>
            <th>
                @Html.ActionLink("StandardName", "Index", new { sortBy = ViewBag.SortStandardNameParameter, currentFilter = ViewBag.CurrentFilter, SearchingString = Request.QueryString["SearchingString"] })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StandardDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TestCaseOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedDate)

            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Gen_Mst_TestCaseType.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Rights_MST_UserMaster.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Rights_MST_UserMaster1.Name)
            </th>
            <th>Action</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr class="text-danger">
                <td colspan="9"><b>No Rows Match Search Criteria</b></td>
            </tr>

        }
        else
        {

            foreach (var item in Model)
            {
                <tr class="text-success">
                    <td>
                        @Html.DisplayFor(modelItem => item.TestCaseCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StandardName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StandardDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestCaseOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Gen_Mst_TestCaseType.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rights_MST_UserMaster.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rights_MST_UserMaster1.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TestCaseID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TestCaseID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TestCaseID })
                        @*<center>
                            <a href="@Url.Action("Details","GeneralTestCases",new {id = item.TestCaseID })">
                                <img src="@Url.Content("~/Images/info.png")" alt="Details" />Details
                            </a> <br />
                            <a href="@Url.Action("Edit","GeneralTestCases",new {id = item.TestCaseID })">
                                <img src="@Url.Content("~/Images/pen.png")" alt="Edit" />Edit
                            </a> <br />
                            <a href="@Url.Action("Delete","GeneralTestCases",new {id = item.TestCaseID })">
                                <img src="@Url.Content("~/Images/bin.png")" alt="Delete" />Delete
                            </a>
                        </center>*@
                    </td>
                </tr>
            }
        }

    </table>
</div>
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, SearchingString = Request.QueryString["SearchingString"], currentFilter = Request.QueryString["currentFIlter"], sortBy = Request["sortBy"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })